{% load staticfiles %}
<!DOCTYPE html>
<html>
	<head>
		<title>{{title}}</title>
	<style>
			body {
  padding-top: 70px;
  padding-bottom: 30px;
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.theme-showcase .navbar .container {
  width: auto;
}

		</style> 


		 <!-- Bootstrap core CSS -->
    <link href="{% static 'forum/css//bootstrap.min.css'%} " rel="stylesheet">
    <!-- Bootstrap theme -->
    <link href="{% static 'forum/css/bootstrap-theme.min.css'%} " rel="stylesheet">  
   


	<body>
	{% include "forum/navbar.html"%}


	<div class="container">		
		<div>
			<h2>{{suggestion}}</h2>
			<div class="col-md-2 pull-left">
				
				<form class="form-signin" action="." method="post">{% csrf_token %}			    					
				    {{ form }}				    
				    <div class="pull-right">
				    	<input class="btn btn-lg btn-primary btn-block" type="submit" value="Submit" />				    
				    </div>
				</form>			

			</div>
		</div>

	</div>
		
		<script>

		    {{ alert|safe }}

		</script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="{% static 'forum/js/bootstrap.min.js' %}"></script>    


	</body>

</html>
