{% load staticfiles %}
<!DOCTYPE html>
<html>
	<head>
		<title>{{title}}</title>
	<style>
			body {
  padding-top: 70px;
  padding-bottom: 30px;
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.theme-showcase .navbar .container {
  width: auto;
}

		</style> 


		 <!-- Bootstrap core CSS -->
    <link href="{% static 'forum/css//bootstrap.min.css'%} " rel="stylesheet">
    <!-- Bootstrap theme -->
    <link href="{% static 'forum/css/bootstrap-theme.min.css'%} " rel="stylesheet">  
   




	</head>
	
<body>
{% include 'forum/navbar.html'%}

    <div class="container" role="main">
		

			{% if showquestions %}		

		<div>

			<table class = "table table-bordered">
			

				<tr>
				<th>Title</th>
				<th>Content</th>
				<th>Answered</th>
				<th>Submitted by</th>

				</tr>		

				{% for i in questionlist %}	
					<tr>
					<td>{{i}}</td>
					<td><a href="/answerquestion?qid={{i.qid}}">{{i.questioncontent}}</a></td>
					<td> {% if i.answered%} yes {%else%} no {%endif%} </td>
					<td>{{i.askedby}}</td>			
					</tr>

				{% endfor %}

			</table>

			<div class="container" role="main">
		<div class="alert alert-warning" role="alert">
        If the Question is not listed click  <strong><a href="/askquestion">here</a></strong> to add a new question
      </div>
      </div>

		</div>

			{% else %}

			<div class="jumbotron">
				<h2>No Results found!<br>Ask your own question <a href='/askquestion'>here</a></h2>
			</div>

			{% endif %}	



	</div>



		<!-- loading scripts here to load the page faster -->

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="{% static 'forum/js/bootstrap.min.js' %}"></script>    

</body>
	
</html>
